{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block head_title %}
    {% trans "Home" %}
{% endblock head_title %}

{% block content %}

<div class="container">
    <!-- Jumbotron Section -->
    <div class="jumbotron bg-light p-4 rounded shadow-sm position-relative">
        <h1 class="display-4 text-center mb-4 animate__animated animate__bounceIn" style="animation-duration: 2s; animation-delay: 1s; animation-timing-function: ease-out;">{% trans "Welcome to My Website" %}</h1>
        <p class="lead text-center">
            {% trans "This is a simple, yet effective, introduction to our project. We aim to provide the best experience possible." %}
        </p>
        <div class="text-center">
            <!-- Image container with overlay -->
            <div class="image-container position-relative">
                <img src="{% static 'images/default-placeholder.jpg' %}" alt="{% trans 'Placeholder Image' %}" class="img-fluid rounded">            
            </div>
        </div>
    </div>
</div>

    <!-- Dummy Content Sections to Test Scrolling -->
    <section id="section1" class="pt-3" data-aos="zoom-in" data-aos-delay="300">
        <h2>Section 1</h2>
        <p>This is some dummy content for Section 1.</p>
    </section>
    
    <section id="section2" class="pt-3" data-aos="zoom-in" data-aos-delay="300">
        <h2>Section 2</h2>
        <p>This is some dummy content for Section 2.</p>
    </section>
    
    <section id="section3" class="pt-3" data-aos="zoom-in" data-aos-delay="300">
        <h2>Section 3</h2>
        <p>This is some dummy content for Section 3.</p>
    </section>
    
    <section id="section4" class="pt-3" data-aos="zoom-in" data-aos-delay="300">
        <h2>Section 4</h2>
        <p>This is some dummy content for Section 4.</p>
    </section>
    
    <section id="section5" class="pt-3" data-aos="zoom-in" data-aos-delay="300">
        <h2>Section 5</h2>
        <p>This is some dummy content for Section 5.</p>
    </section>
        

{% endblock content %}
