{% load i18n %}{% autoescape off %}

{% translate "Hi " %}{{ user.username }}{% translate "," %}

{% blocktranslate %}
You're receiving this email because you requested a password reset for your user account at {{ site_name }}.
{% endblocktranslate %}

{% blocktranslate %}
Please go to the following page and choose a new password:
{% endblocktranslate %}

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">

{% translate "Reset my password" %}

{% blocktranslate %}
Your username, in case you've forgotten: {{ user.username }}
{% endblocktranslate %}

{% translate "Thanks for using my site!" %}

{% endautoescape %}




{% comment %} {% load i18n %}

<p>Hi {{ user.username|escape }},</p>

{% block content %}
  <p>{% trans "You're receiving this email because you requested a password reset for your user account at" %} {{ site_name }}.</p>
  <p>{% trans "Please go to the following page and choose a new password:" %}</p>
  <p><a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}</a>Reset my password</p>
  <p>{% trans "Your username, in case you've forgotten:" %} {{ user.get_username }}</p>
  <p>{% trans "Thanks for using our site!" %}</p>
{% endblock %}
 {% endcomment %}
