{% extends "base.html" %}

{% load i18n %}

{% block content %}
    <!-- Container to center the content -->
    <div class="container">
        <!-- Row to center content horizontally -->
        <div class="row justify-content-center align-items-center custom-margin-top">
            <!-- Column with a fixed width for the form -->
            <div class="col-md-6 col-lg-6 px-1">
                <!-- Card component to provide styling and a background -->
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h1 class="card-title mb-4 text-center">{% trans "Set a New Password" %}</h1>
                        <form method="post">
                            {% csrf_token %}

                            <div class="form-group mb-3">
                                <label for="id_new_password" class="form-label custom-label">{% trans "New Password" %}</label>
                                <input type="password" name="new_password1" id="id_new_password" class="form-control p-3 custom-label" placeholder="{% trans 'Enter new password' %}" autocomplete="new-password" required>
                            </div>

                            <div class="form-group mb-3">
                                <label for="id_confirm_password" class="form-label custom-label">{% trans "Confirm New Password" %}</label>
                                <input type="password" name="new_password2" id="id_confirm_password" class="form-control p-3 custom-label" placeholder="{% trans 'Confirm new password' %}" autocomplete="new-password" required>
                            </div>

                            {% if form.non_field_errors %}
                                <div class="alert alert-danger">
                                    {% for error in form.non_field_errors %}
                                        <p>{{ error }}</p>
                                    {% endfor %}
                                </div>
                            {% endif %}

                            {% if form.errors %}
                                <div class="alert alert-danger">
                                    {% for field in form %}
                                        {% for error in field.errors %}
                                            <p>{{ error }}</p>
                                        {% endfor %}
                                    {% endfor %}
                                </div>
                            {% endif %}

                            <button type="submit" class="btn btn-primary w-50 mx-auto d-block custom-label my-5 rounded-lg">{% trans "Set New Password" %}</button>
                        </form>

                        <p class="text-center mt-3 custom-label">
                            <a href="{% url 'account_login' %}" class="custom-link">{% trans "Back to Login" %}</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
