@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@import url('fonts.css');

/* Fonts */
:root {
  --font-default: "Lora", system-ui, -apple-system;
  --font-primary: "OpenSans", sans-serif;
  --font-secondary: "Poppins", sans-serif;
}

:root {
  --section-head-font-size: 2rem;
}

/*--------------------------------------------------------------------------------------
                    Custom properties for colors, backgrounds, and typography
----------------------------------------------------------------------------------------*/

/* Colors */
:root {
    --background-main: rgba(173, 216, 230, 0.2); /*Eastern blue*/
    --background-nav-small-screens: rgba(173, 216, 230);

    --background-color-status: rgba(173, 216, 230, 0.6);
    --color-status-messages: rgba(173, 216, 230);

    --font-color-default: rgb(37, 150, 190);
    --font-color-small-screen: white;

    --custom-btn-background: rgba(173, 216, 230, 0.6);
    --custom-btn-focus-box-shadow: rgba(173, 216, 230);
    --custom-btn--color: rgb(35, 35, 37);

    --scrolltop-hover-navlink: rgb(22, 146, 187,0.8)       
}

:root {
    scroll-behavior: smooth;
}

body{
    background: var(--background-main);
}

/* Die Klasse .custom-margin-top wird genutzt für login, pw-reset*/


.custom-margin-top{
    margin-top: 2.5rem;
}

.custom-negative-margin-top{
    margin-top: -4rem;
}


/* Ensure sections have the same left and right margins as the .container */
#section1,
#section2,
#section3,
#section4,
#section5 {
    width: 80%;
    height: auto;
    max-width: 1140px; /* Same as the largest container size */
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.5rem;  /* Adjust padding to match your desired space */
    padding-right: 1.5rem; /* Adjust padding to match your desired space */
    background-color: var(--background-main);
}

#section1 {
    margin-top: 6rem;
}

#section2,
#section4{
    background-color: var(--custom-btn-focus);
}

/* Ensure full height for html and body */
html, body {
    height: 100%;
    margin: 0;
}

/* Make the body a flex container */
body {
    display: flex;
    flex-direction: column;
}

/* Main content area should take the remaining space */
main {
    flex: 1;
}

/* Footer stays at the bottom */
footer {
    margin-top: auto;
}

/*--------------------------------------------------------------
# Scroll top button
--------------------------------------------------------------*/

.scroll-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: -15px;
    z-index: 99999;
    background-color: var(--scrolltop-hover-navlink) !important;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    transition: all 0.4s;
  }
  
.scroll-top i {
    font-size: 2.5rem;
    font-weight: bold;
    color: #fff;
    line-height: 0;
} 

.scroll-top.active {
    visibility: visible;
    opacity: 1;
    bottom: 15px;
}

/*---------------------------------------------------------------------------------
        Custom Styling of all the buttons and nav-links
----------------------------------------------------------------------------------*/

.custom-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    background-color: var(--custom-btn-background) !important;
    color: var(--custom-btn-color);                    
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: transform 0.4s ease;
}

.custom-btn:hover {
    transform: translateY(-4px);
}

.custom-btn:active {
    transform: translateY(-4px);
}

.custom-btn:focus {
    outline: none;
    box-shadow: 0 0 0 3px var(--custom-btn-focus-box-shadow); /* Add a green glow effect on focus */
}

/* Change the default color of nav links */
.navbar-nav .nav-link {
    color: var(--font-color-default) !important;
    font-size: 1.6rem !important;
    margin-right: 1rem;
    
}
  
/* On hover, change the color to blue */
.navbar-nav .nav-link:hover {
    color: var(--scrolltop-hover-navlink) !important;
}
  
/* Active link color */
.navbar-nav .nav-item.active .nav-link {
    color: var(--custom-btn--color);
}

/*---------------------------------------------------------------------------------
            Customise messaging system on login and logout
            Customise confirmation message on sign-up
----------------------------------------------------------------------------------*/

/* Base styling for all alerts */
.alert {
    display: flex;                   /* Flexbox layout to position text and button */
    justify-content: space-between;     /* Align the message text to the left */
    flex-direction: column;
    align-items: center;             /* Vertically center content */
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;                /* Align text to the left */
    max-width: 85%;
    padding: 1.1rem 1.3rem;
    margin: 0 auto 1rem auto;
    /* position: relative;               */
    border-radius: 8px;              /* Rounded corners for the alert */
    /* background-color: white; */
    /* z-index: 9999;          */
  }

.alert-success,
.alert-info,
.alert-warning {
    background-color: var(--scrolltop-hover-navlink);
    color: white; 
}
  
.alert-danger {
    background-color: rgba(255,0,0);
    color: white; 
}






/* Custom styling for confirmation messages */
.confirmation-message {
font-family: Arial, sans-serif;
font-size: 16px;
color: #4CAF50;
background-color: #f9f9f9;
padding: 10px;
border-radius: 5px;
border: 1px solid #ddd;
display: inline-block;
}

/* Styling for email address */
.email-address {
font-weight: bold;
color: #007BFF; /* Blue color for the email address */
text-decoration: underline;
}

/*---------------------------------------------------------------------------------
                        Styling of login status in navbar
----------------------------------------------------------------------------------*/

/* Ensure the container has sufficient top padding */
.container.my-3 {
    padding-top: 4rem;  /* Space from the top of the page */
    position: relative;
}

/* Style for the login-status */
.login-status {
    background-color: var(--background-color-status);
    color: var(--color-status-messages);
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.6rem 1.2rem;
    margin: 4rem 1rem 0 0;
    border-radius: 0.5rem;
    position: absolute;
    right: 0;
    width: fit-content;
    top: 0;  /* Position it at the top of the container */
}
  

/*----------------------------------------------------------------------------------------------------
    Styling of navigation | alignment navbar-brand and nav-items | jumbotron
------------------------------------------------------------------------------------------------------*/

.navbar-brand {
    margin-right: auto;
}

.navbar-nav {
    margin-left: auto; /* Pushes the nav items to the right */
}

.jumbotron {
    padding: 5rem;
    margin-top: 6rem !important;
}

.jumbotron h1{
    font-family: 'Dancing Script', cursive !important;
    font-weight: bold;
    font-size: 4rem;
}


/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999; /*Preloader muss on top des anderen content sein*/
    background-color: var(--color-default);
    visibility: visible;
    opacity: 1;
    transition: opacity 0.7s ease-out;
  }
  
  #preloader:before {
    content: "";
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translate(-50%, -50%);
    border: 1rem solid #fff;
    border-color: var(--custom-btn-background) transparent var(--custom-btn-background) transparent;
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    animation: animate-preloader 0.7s linear infinite;
  }
  
  @keyframes animate-preloader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

/*-------------------------------------------------------------------------------------
/* Fixed Navbar - Navbar fixed to top when user scrolls down on larger screens 
---------------------------------------------------------------------------------------*/

/* General Styles for Navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;  /* Ensure navbar stays above other content */
    background-color: #f8f9fa;  /* Optional background */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  /* Optional shadow for visibility */
    transition: top 0.3s ease-in-out;
}

/* Add padding to body to prevent content from hiding behind fixed navbar */
body {
    padding-top: 60px;
}

/* Adjust margins and padding to prevent overlaps */
body {
    padding-top: 56px; /* Space for fixed navbar */
}

/* Hide hamburger icon on screens 992px and above */
@media (min-width: 992px) {
    .mobile-nav-show {
        display: none !important;
    }
}

#navbarNav {
    display: none; /* Hide by default */
}

#navbarNav.show {
    display: block; /* Show when 'show' class is added */
}


/* For screens smaller than 992px, apply sliding effect */
@media (max-width: 992px) {
#navbarNav {
    position: fixed;
    top: 0;
    right: -100%; /* Initially off-screen */
    width: 100%; /* Adjust width as needed */
    height: 100vh;
    background-color: #fff; /* Background color */
    transition: right 0.1s ease-in-out;              
    z-index: 999; /* Ensure it's below the hamburger */
    padding-top: 50px;
}

#navbarNav.show {
    right: 0;
    background-color: var(--custom-btn-focus-box-shadow);
}

/* Make sure the hamburger icon stays in front */
.mobile-nav-toggle {
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 1000; /* Ensure it's above the navbar */
    font-size: 2rem;
    color: #333; /* Adjust color as needed */
}}

/* Adjust the spacing of nav items */
#navbarNav .navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 20px; /* Optional: Add left padding to align items */
}

#navbarNav .navbar-nav .nav-item {
    margin-bottom: 10px; /* Add space between nav items */
}

@media (min-width: 992px) {
    #navbarNav {
        position: static; /* static position of nav on large screens */
        right: 0; /* No sliding of nav on large screens */
        width: auto;
    }

    .mobile-nav-toggle {
        display: none; /* The hamburger item not shown on large screens */
    }

    #navbarNav .navbar-nav .nav-link {
        font-size: 1.2rem; /* On large screens nav-item font-size */
        position: relative;
        padding-bottom: 5px; /* Adds space for the :hover line below */
        text-decoration: none;
    }       
      
    .nav-link::after {
        content: "";
        position: absolute;
        bottom: 0; /* Line positioned at the bottom of the link */
        left: 0;
        width: 0%; /* Line starts with no width */
        height: 3px;
        background-color: var(--font-color-default);
        transition: width 0.3s ease
    }

    .nav-link:hover::after {
        width: 100%; /* Makes line below nav-link full-width on hover */
    }
}

    .mobile-nav-toggle {
        margin-top: -0.6rem;  /* Adjust this value to move it slightly up */
}

/*--------------------------------------------------------------
#       Styling of home.html | launch page
--------------------------------------------------------------*/








/*--------------------------------------------------------------
#       Styling of coding page
--------------------------------------------------------------*/

.tech-stack-img {
    width: 100%;  /* Ensures the image takes up the full width of the column */
    max-width: 6rem;  /* You can adjust this value to fit your needs */
    height: auto;  /* Keeps the aspect ratio intact */
}

.span-font-size{
    font-size: 5rem;
}


/*--------------------------------------------------------------
#       Media queries for smaller screens, mostly navbar
--------------------------------------------------------------*/

@media (max-width: 992px) {

#navbarNav {
    position: fixed;
    top: 0;
    right: -100%; /* Initially off-screen */
    width: 100%; /* Adjust width as needed */
    height: 100vh; /* Full height */
    background-color: var(--background-nav-small-screens)!important;
    transition: right 0.1s ease-in-out;              
    z-index: 999; /* Ensure it's below the hamburger */
    padding-top: 50px;
}

#navbarNav.show {
    right: 0;
}

/* Make sure the hamburger icon stays in front */

.mobile-nav-toggle {
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 1000; /* Ensure it's above the navbar */
    font-size: 3rem;
    color: #333; /* Adjust color as needed */
}

/* Adjust the spacing of nav items */
#navbarNav .navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 3rem;
    margin-top: 2rem;
}

/* #navbarNav .navbar-nav,
#navbarNav .navbar-nav .nav-item,
#navbarNav .navbar-nav .nav-link {
    color: white !important;
} */

.navbar .navbar-nav .nav-link {
    color: var(--font-color-default) !important;
    font-size: 1.7rem !important;        
}}

/* Preloader soll auf large screen nicht sichtbar sein */

@media (min-width: 768px) {
    #preloader {
        display: none;
    }       
}

@media (max-width: 768px) {

    .custom-btn {
        font-size: 1rem;
        width: 80% !important;
        margin: 0 auto;
        
    }

/* Preloader auf screen bis 767 zentriert | unterschiedliche top/left für
screen-sizes zwischen 360 bis 767 */
    #preloader:before {
        top: 30%;
        left: 40%;
        transform: translate(-50%, -50%);
    }
      
}

/* Preloader auf screen bis 430 zentriert */
@media (max-width: 430px) {
    #preloader:before {
        top: 30%;
        left: 33%;
        transform: translate(-50%, -50%);
    }
      
}


